.section-slider {
    position: relative;
    overflow: hidden;
}
.section-slider .btn:hover, .section-slider .btn:focus, .section-slider .btn:active {
    border-color: #fff;
    color: #fff;
}
.slide-item {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 100px 40px 170px;
    user-select: none;
    z-index: 1;
}
.slide-item .c-dark h2, .slide-item .c-dark h3, .slide-item .c-dark {
    color: #333;
}
.slide-item__2 {
    padding: 25px 90px 110px;
}
.slide-item__2 .slide-item__anons {
    margin-bottom: 45px;
}
.slide-item.c-shadow:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}
.slide-item__caption h2 {
    font-size: 2.625rem;
    font-weight: bold;
}
.slide-item__caption__2 {
    max-width: 480px;
}
.slide-item__caption__2 .section-title {
    padding-bottom: 40px;
}
.slide-item__caption__2 h2 {
    font-size: 2.375rem;
    line-height: 1.2em;
}
.slide-item__anons {
    -webkit-line-clamp: 3;
    font-size: 1.1em;
    max-height: 75px;
    font-weight: 500;
    margin: 0 0 70px 0;
    color: #fff;
}
.stock-item__caption {
    margin-bottom: 35px;
}
.stock-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 25px 0;
    line-height: 1em;
}
.stock-title span {
    font-size: 4.5rem;
}
.stock-subtitle {
    font-size: 2.625rem;
    font-weight: normal;
    margin: 0 0 25px 0;
    line-height: 1em;
}
.slide-prev, .slide-next {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    z-index: 1;
    top: calc(50% - 40px);
    cursor: pointer;
}
.slide-prev:before, .slide-next:before, .slide-prev:after, .slide-next:after {
    content: '';
    position: absolute;
    display: block;
}
.slide-prev:before, .slide-next:before {
    content: '';
    position: absolute;
    top: calc(50% - 7px);
    display: block;
    width: 14px;
    height: 14px;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
}
.slide-prev {
    left: -40px;
}
.slide-prev:before {
    right: calc(50% - 24px);
    transform: rotate(-45deg);
}
.slide-next {
    right: -40px;
}
.slide-next:before {
    left: calc(50% - 24px);
    transform: rotate(135deg);
}
.slider-dots {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 90px;
}
.slider-dots ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slider-dots ul li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 30px;
}
.slider-dots ul li:last-child {
    margin-right: 0;
}
.slider-dots ul li button {
    display: block;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    text-indent: 100px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
}
.slider-dots ul li.slick-active button {
    background-color: #fff;
}
.slider-dots.slider-dots__1 {
    padding: 0 40px;
}
.slider-dots__2 {
    bottom: 50px;
}
.slider-dots__2 .slider-home-dots {
    padding-left: 75px;
    padding-right: 75px;
}

@media screen and (min-width: 320px) and (max-width: 991px){
    .slide-item, .stock-item {
        padding-top: 40px;
        padding-bottom: 100px;
    }
    .slide-item__caption h2 {
        font-size:32px;
    }
    .slide-item__anons {
        display: -webkit-box;
        overflow: hidden;
        margin-bottom: 45px;
    }
    .slider-dots {
        bottom:50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .stock-item__caption {
        margin-bottom: 25px;
    }
    .stock-subtitle, .stock-title {
        margin: 0 0 15px 0;
    }
    .stock-title {
        font-size: 32px;
        line-height: 1.2em;
    }
    .stock-title span {
        font-size: 40px;
    }
    .stock-subtitle {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px){
    .slide-item__caption h2 {
        font-size: 1.5rem;
    }
    .slide-item__anons {
        margin-bottom:30px;
    }
    .slide-item {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 60px;
    }
    .slider-home .slick-arrow {
        display:none!important;
    }
    .slider-dots {
        bottom: 24px;
    }
}


