@font-face {
  font-family: 'ALSRubl-Verdana';
  src: url('../fonts/alsrubl-verdana-regular.eot');
  src: url('../fonts/alsrubl-verdana-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/alsrubl-verdana-regular.woff') format('woff'), url('../fonts/alsrubl-verdana-regular.ttf') format('truetype'), url('../fonts/alsrubl-verdana-regular.svg#ALSRublRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}