.review__item {
  margin-bottom: 45px;
}
.review__image {
  display: block;
  margin-right: 25px;
  border: 4px solid;
}
.review__item-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.item-top__left {
  .review__image {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 20px 0 0;
    border-radius: 50%;
    background-size: cover;
    cursor: auto;
  }
}